
<div class="form-group">
  <%= book.label :name, "書名" %>
  <%= book.text_field :name, :class => "form-control" %>
</div>

<div class="form-group">
  <%= book.label :author, "作者：" %>
  <%= book.text_field :author, :class => "form-control" %>
</div>

<div class="form-group">
  <%= book.label :published_date, "出版日期：" %>
  <%= book.date_field :published_date, :class => "form-control" %>
</div>

<div class="form-group">
  <%= book.label :description, "說明：" %>
  <%= book.text_area :description, :class => "form-control" %>
</div>

<div class="form-group">
  <%= book.label :progress, "閱讀進度：" %>
  <%= book.number_field :progress, :class => "form-control" %>
</div>

<% if @book.errors.any? %>
  <ul>
    <% @book.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>