<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>閱讀書單</h1>
      <%= link_to "增加書籍", new_book_path, :class => "btn btn-default pull-right" %>
    </div>
  </div>
  <div class="row">

    <div class="col-md-12">
      <table class = "table">
        <thead>
          <tr>
            <th class = "text-center">No.</th>
            <th class = "text-center">書名</th>
            <th class = "text-center">分類</th>
            <th class = "text-center">作者</th>
            <th class = "text-center">閱讀進度</th>
            <th class = "text-center">出版日期</th>
            <th class = "text-center">細節</th>
            <th class = "text-center">編輯</th>
            <th class = "text-center">刪除</th>
          </tr>
        </thead>
        <tbody>
          <% @books.each do |book|  %>
          <tr>
            <td class = "text-center"><%= @count += 1 %></td>
            <td><%= book.name %></td>
            <td class = "text-center"><%= book.Category %></td>
            <td><%= book.author %></td>
            <td class = "text-center"><%= content_tag(:div, content_tag(:div, "#{book.progress}%", class: "progress-bar", role: "progressbar", "aria-valuenow" => "#{book.progress}", "aria-valuemin" => "0", "aria-valuemax" => "100", style: "width: #{book.progress}%;") , class: "progress") %>
            </td>
            <td><%= book.published_date %></td>

            <td><%= link_to "", book_path(book), :class => "btn btn-default glyphicon glyphicon-th-list" %></td>
            <td><%= link_to "", edit_book_path(book), :class => "btn btn-default glyphicon glyphicon-edit" %></td>
            <td><%= link_to "", book_path(book, :page => params[:page], :total_pages => @books.total_pages), :method => :delete, :class => "btn btn-danger glyphicon glyphicon-trash" %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center">
      <%= paginate @books %>
    </div>
  </div>
</div>